<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Shareyeah.com</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="libraries/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="shareyeah.css" rel="stylesheet">
    <script language="javascript" src="libraries/underscore/underscore.js" type="text/javascript"></script>
    <script language="javascript" src="libraries/jquery/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script language="javascript" src="libraries/backbone/backbone.js" type="text/javascript"></script>
  </head>
  <body>
		<script type="text/template" id="note_template">
			<div class="edit_note">
				<textarea rows="2" class="note_content" placeholder="Type anything here to share it with others on your wifi network…"><%= editContent %></textarea>
	    	<a class="btn primary large note_submit" name="note_submit">Share it, yeah!</a>
			</div>
			<div class="view_note">
		    <input name="id" type="hidden" value="<%= id %>">
		    <div class="content">
		      <%= viewContent %> 
		    </div>
		    <div class="date">
		    	<%= postedAt %>
					<!--a href="javascript:void(0)" id="edit" class="edit">Edit</a-->
					<a href="javascript:void(0)" id="delete" class="delete">Delete</a>
		    </div>
	    </div>
		</script>

		<script type="text/template" id="new_note_template">
		</script>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Shareyeah.com</a>
          <ul class="nav">
            <li><a href="#about">About</a></li>
          </ul>
          <p class="pull-right"><a href="#">username</a></p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="content">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
	        <div id="new_note">
	        </div>
        </div>
				<div id="notes"></div>
	      <footer>
	        <p>&copy; Shareyeah.com</p>
	      </footer>
	      
      </div>
    </div>
    
    <script language="javascript" src="shareyeah.js" type="text/javascript"></script>
  </body>
</html>
