.container-fluid {
    min-width: 300px;
}    

.container-fluid > .content {
	margin-left:0px;
}

.hero-unit {
  padding: 40px 0 0 0;
}

.note {
  padding: 20px 20px;
  background-color: #F5F5F5;
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 30px;
}

.note .view_note,
.note .edit_note {
	clear: both;
}

.note .edit_note {
	display: none;
}

#new_note .note .view_note {
	display: none;
}

#new_note .note .edit_note {
	display: block;
}

.note .date {
	font-size: 20px;
	padding-top: 20px;
	color: #777;
}

.note .view_note .content {
	font-size: 25px;
	line-height: 30px;
}

.note_content {
	margin: 0 0px;
	padding: 10px;
	font-size: 20px;
	min-width: 98%;
	line-height: 26px;
}

.note_submit {
	margin-top: 10px;
	margin-right: 11px;
}

