.container-fluid {
    min-width: 300px;
}    

.container-fluid > .content {
	margin-left:0px;
}

.hero-unit {
  padding: 40px 0 0 0;
}

.note {
  padding: 20px 20px;
  background-color: #EEE;
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 30px;
}

.note .view_note,
.note .edit_note {
	clear: both;
}

.note .edit_note {
	display: block;
}

#new_note .note .view_note {
	display: none;
}

#new_note .note .edit_note {
	display: block;
}

.note .date {
	font-size: 20px;
	padding-top: 20px;
	color: #777;
}

.note .view_note .view_content {
	font-size: 25px;
	line-height: 30px;
}

.edit_content {
	margin: 0px;
	padding: 7px;
  
  border-radius: 4px;
  border: 1px solid #ccc;
  
  background-color: white;
}

.edit_content textarea {
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
	
	border: none;
  background-color: white;
  
	font-size: 1.7em;
	line-height: 1.15em;  
	
	-moz-transition: none !important;
	box-shadow: none !important;
}

.note_submit {
	margin-top: 10px;
	margin-right: 11px;
	clear: both;
	float: left;
}

